[Unit]
Description=XDP Root Shim provides a root array to bind and replace XDP programs on a given interface
After=network.target
Before=network-online.target
Wants=network.target

[Service]
# Allow the service to notify systemd when it has finished activating.
Type=notify
# NotifyAccess will allow the main pid to send the above ready message (which is also the default).
NotifyAccess=main
Restart=always
EnvironmentFile=/etc/default/xdp-root-shim
ExecStart=/usr/sbin/xdp-root-shim /usr/share/xdp-root-shim/tailcall.o ${BPFFS_INTERFACE_PREFIX}%i %i
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
