[Unit]
Description=GLB Director
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
EnvironmentFile=/etc/default/glb-director
ExecStart=/usr/sbin/glb-director $GLB_DIRECTOR_EAL_ARGS -- --config-file ${GLB_DIRECTOR_CONFIG_FILE} --forwarding-table ${GLB_DIRECTOR_FORWARDING_TABLE}
ExecReload=/bin/kill -USR1 $MAINPID
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
