name: ci

on: [push]

permissions:
  contents: read

jobs:
  package-build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run package build focal
      run: script/cibuild-create-packages-focal
    - name: Tar files
      run: tar -cvf glb-director.tar $GITHUB_WORKSPACE/tmp/build
    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: glb-director
        path: glb-director.tar